<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.30/vue.global.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@0.4.3/dist/css/mdui.min.css"
          crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@0.4.3/dist/js/mdui.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/utils.js"></script>

    <style>
        @media screen and (min-width: 1201px) {
            #disk-list {
                width: 70%;
                max-width: 70%;
            }

            #disk-actions {
                width: 30%;
                max-width: 30%;
            }

            #disk-management {
                display: flex;
            }

            #disk-actions > .action {
                margin: 15px;
                width: calc(100% - 30px);
            }
        }

        @media screen and (max-width: 1200px) {
            #disk-list {
                width: 100%;
                max-width: 100%;
            }

            #disk-actions {
                width: 100%;
                max-width: 100%;
            }

            #disk-management {
                display: block;
            }

            .action {
                margin-bottom: 15px;
                margin-top: 15px;
                margin-left: 5%;
                width: 90%;
            }
        }

        .tag-list > i {
            margin-left: 3px;
            margin-right: 3px;
        }

        #disk-management {
            font-family: monospace;
        }

        #volume-management{
            font-family: monospace;
        }

        #initiator-management{
            font-family: monospace;
        }

    </style>

    <script>
        let hostCollapses = []
        let vm

        function all_selected_disk() {
            let list = []
            $(".disk-checkbox").each(function () {
                if ($(this).prop("checked")) {
                    list[list.length] = {
                        "diskId": $(this).attr("disk_id"),
                        "hostId": $(this).attr("host_id")
                    }
                }
            })
            return list
        }

        function selected_template() {
            let val = null
            $(".template-selector").each(function () {
                if ($(this).prop("checked")) {
                    val = $(this).attr("template-id")
                }
            })
            return val
        }

        function all_selected_host() {
            let list = []
            $(".host-checkbox").each(function () {
                if ($(this).prop("checked")) {
                    list[list.length] = $(this).attr("host_id")
                }
            })
            return list
        }

        function all_selected_cluster() {
            let list = []
            $(".cluster-checkbox").each(function () {
                if ($(this).prop("checked")) {
                    list[list.length] = $(this).attr("cluster_id")
                }
            })
            return list
        }


        function renderHostCollapse() {
            hostCollapses = []

            $(".host-head").each(function () {
                let x = new mdui.Collapse($(this), {});
                x.openAll()
                let id = hostCollapses.length
                $(this).attr("col_id", id)
                hostCollapses[hostCollapses.length] = x
            })

            let open_all_host = $(".open-all-host")
            open_all_host.off("click");
            open_all_host.click(function () {
                let that = $(this)
                $(this).parent().parent().find(".host-head").each(function () {
                    let c = hostCollapses[parseInt($(this).attr("col_id"))]
                    if (that.attr("open") === "open") {
                        c.closeAll()
                    } else {
                        c.openAll()
                    }
                })
                if (that.attr("open") === "open") {
                    that.attr("open", false)
                } else {
                    that.attr("open", "open")
                }
            })


            function onCheckboxUpdate() {
                $(".disk-action").prop("disabled", all_selected_disk().length === 0)
                $(".host-action").prop("disabled", all_selected_host().length === 0)
                $(".cluster-action").prop("disabled", all_selected_cluster().length === 0)
            }

            let checkbox = $('input:checkbox')
            checkbox.off("change")
            checkbox.change(onCheckboxUpdate)

            function onQuickSelectDisks() {
                if ($(this).find("i").html() === "add") {
                    $(this).find("i").html("remove")
                    $(this).parent().parent().find(".disk-checkbox").prop("checked", true)
                } else {
                    $(this).find("i").html("add")
                    $(this).parent().parent().find(".disk-checkbox").prop("checked", false)
                }
                onCheckboxUpdate()
                return false
            }

            let host = $(".host-select-all-disk")
            host.off("click");
            host.click(onQuickSelectDisks)
            let cluster = $(".cluster-select-all-disk")
            cluster.off("click");
            cluster.click(onQuickSelectDisks)
        }

        function vue() {
            const onUpdate = function () {
                console.log("VUE updated")
                mdui.mutation()
                mdui.updateTables()
                renderHostCollapse()
            }

            const SourceData = {
                data() {
                    return {
                        data: [],
                        templates: [],
                        volumes: {},
                    }
                },
                methods: {
                    updateData(newData, newTemplates, newVolumes) {
                        this.data = newData
                        this.templates = newTemplates
                        this.volumes = newVolumes
                    }
                },
                updated() {
                    this.$nextTick(function () {
                        onUpdate()
                    })
                }
            }

            app = Vue.createApp(SourceData)
            app.component('cluster-volume',{
                props: ['cluster_id','all_volume_data'],
                template: '#cluster-volume-template',
            })
            app.component('cluster-template', {
                props: ['name', 'info', 'template_id'],
                template: '#cluster-template-template'
            })
            app.component('disk', {
                props: ['disk_info', 'host_id'],
                template: '#disk-template'
            })
            app.component('host', {
                props: ['host_id', 'host_name', 'disk_data'],
                template: '#host-template'
            })
            app.component('cluster', {
                props: ['cluster_id', 'hosts'],
                template: '#cluster-template'
            })
            app.component('initiator', {
                props: ['iqn', 'initiator_name'],
                template: '#initiator-template'
            })
            vm = app.mount("body")
            onUpdate()
        }

        function refresh() {
            $("#portal_ip").text(currentPortal())
            document.dataPost("/portal/refresh", {}, function (success, result) {
                console.log(result.volumes)
                vm.updateData(result.hosts,result.templates,result.volumes)
            })
        }

        function currentPortal() {
            var re = /(\d{0,3}[.]){3}(\d{0,3})/

            let x = window.location.href.split("#")[0]
            let z = x.split("/").reverse()
            for (let i = 0; i < z.length; ++i) {
                if (re.test(z[i])) {
                    return z[i]
                }
            }
        }

        function eventListener() {
            let ignoreUnqualifiedPairs = $("#ignoreUnqualifiedPairs")
            let traceUntilComplete = $("#traceUntilComplete")

            function add_tag(tags) {
                document.dataPost("/disk/addtag", {
                    tags: tags,
                    disks: all_selected_disk(),
                    ignoreUnqualifiedPairs: ignoreUnqualifiedPairs.prop("checked"),
                    traceUntilComplete: traceUntilComplete.prop("checked")
                }, refresh)
            }

            function remove_tag(tags) {
                document.dataPost("/disk/removetag", {
                    tags: tags,
                    disks: all_selected_disk(),
                    ignoreUnqualifiedPairs: ignoreUnqualifiedPairs.prop("checked"),
                    traceUntilComplete: traceUntilComplete.prop("checked")
                }, refresh)
            }

            $(".add_tag").click(function () {
                add_tag([$(this).attr("tag")])
            })
            $("#add_tag_data_meta").click(function () {
                add_tag(["DATA_DISK", "METADATA_DISK"])
            })
            $(".remove_tag").click(function () {
                remove_tag([$(this).attr("tag")])
            })
            $("#remove_tag_all").click(function () {
                remove_tag(["DATA_DISK", "METADATA_DISK", "WRITE_CACHE", "READ_CACHE"])
            })

            $("#create-cluster").click(function () {
                document.dataPost("/cluster/new", {
                    cluster: {
                        clusterName: $("#create-cluster-cluster-name").val(),
                        minClusterSize: $("#create-cluster-min-cluster-size").val(),
                        replicationFactor: $("#create-cluster-replication-factor").val(),
                        virtualIp: $("#create-cluster-virtual-ip").val(),
                    },
                    hosts: all_selected_host()
                }, function (_b, _a) {
                    refresh()
                })
            })

            $("#delete-cluster").click(function () {
                document.dataPost("/cluster/delete", {
                    clusters: all_selected_cluster()
                }, function (_b, _a) {
                    refresh()
                })
            })

            $("#remove-from-cluster").click(function () {
                document.dataPost("/cluster/remove-host", {
                    hosts: all_selected_host()
                }, function (_a, _b) {
                    refresh()
                })
            })

            $("#purge").click(function () {
                mdui.confirm('Confirm Purge+Reconfig DataBase on ' + currentPortal(), function () {
                    document.dataPost("/purge-db", {}, function (_a, _b) {
                        mdui.alert('DB Purged, Please ReConnect to this portal');
                        setTimeout(function () {
                            document.location.href = "/"
                        })
                    })
                });
            })
            $("#save-cluster-template").click(function () {
                let cluster = all_selected_cluster()
                if (cluster.length !== 1) {
                    alert("Please select only one cluster")
                    return
                }
                cluster = cluster[0]
                mdui.prompt('Name of the template (save name will override)',
                    function (value) {
                        document.dataPost("/cluster/save", {
                            clusterId: cluster,
                            name: value
                        }, function (_a, _b) {
                            if (_a) {
                                mdui.alert('Template saved');
                                refresh()
                            }
                        })
                    }
                );
            })
            $("#apply-template").click(function () {
                let template = selected_template()
                if (template == null) {
                    alert("Please select one template")
                    return
                }
                document.dataPost("/apply-template", {
                    templateId: template,
                }, function (_a, _b) {
                    refresh()
                })
            })
            $("#volume-management").on('click','.create-volume',function(){
                let parents = $(this).parent().parent()
                let cluster = parents.find(".create_volume_cluster_id").val()
                let volume = parents.find(".create_volume_volume_name").val()
                let size = parents.find(".create_volume_volume_size").val()
                let block = parents.find(".create_volume_block_size").val()
                let type = parents.find(".create_volume_volume_type").val()
                document.dataPost("/volume/create", {
                    volumeName: volume,
                    clusterId: cluster,
                    volumeSize: size,
                    blockSize: block,
                    type: type
                }, function (_a, _b) {
                    refresh()
                })
            })
            $("#delete-volume").click(function () {
                let list = []
                $(".volume-line.mdui-table-row-selected").each(function() {
                    list[list.length] = {
                        "clusterId": $(this).attr("cluster-id"),
                        "volumeId": $(this).find(".volume-id").text()
                    }
                })
                if(list.length === 0){
                    alert("No selected volume")
                    return
                }
                document.dataPost("/volume/delete", list, refresh)
            })
        }

        $(window).ready(function () {
            vue()
            eventListener()
            refresh()
        })

    </script>
</head>

<template id="cluster-template">
    <ul class="mdui-list" style="margin-top: 15px">
        <li class="cluster">
            <div class="mdui-collapse-item-header mdui-list-item">
                <i v-if="cluster_id != null" class="mdui-icon material-icons">&#xe2c2;</i>
                <i v-if="cluster_id == null" class="mdui-icon material-icons">&#xe88b;</i>
                <div class="mdui-list-item-content" style="margin-left: 5px">
                    {{ cluster_id == null ? "Free Hosts (hosts not in any cluster)" : "Cluster " + cluster_id }}
                </div>
                <i open=open class="mdui-collapse-item-arrow mdui-icon material-icons open-all-host">format_align_justify</i>

                <label v-if="cluster_id != null" class="mdui-checkbox">
                    <input class="cluster-checkbox" v-bind:cluster_id="cluster_id" type="checkbox" name="group1"/>
                    <i class="mdui-checkbox-icon"></i>
                </label>

                <label v-if="cluster_id == null" class="mdui-checkbox">
                    <input type="checkbox" name="group1" disabled/>
                    <i class="mdui-checkbox-icon"></i>
                </label>

                <button style="margin-left: 8px"
                        class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-btn-dense cluster-select-all-disk">
                    <i class="mdui-icon material-icons">add</i>
                </button>
            </div>

            <host v-for="host in hosts"
                  v-bind:host_id="host.hostId"
                  v-bind:host_name="host.hostName"
                  v-bind:disk_data="host.disks">
            </host>
        </li>
    </ul>
</template>

<template id="host-template">
    <ul class="mdui-list host-head" mdui-collapse="{}">
        <li class="mdui-collapse-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-icon material-icons">&#xe2c8;</i>
                <div class="mdui-list-item-content" style="margin-left: 5px">{{ host_id + " (" + host_name + ")" }}
                </div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                <label class="mdui-checkbox ">
                    <input class="host-checkbox" v-bind:host_id="host_id" type="checkbox" name="group1"/>
                    <i class="mdui-checkbox-icon"></i>
                </label>
                <button style="margin-left: 8px"
                        class="mdui-btn mdui-btn-icon mdui-color-theme-accent mdui-btn-dense host-select-all-disk">
                    <i class="mdui-icon material-icons">add</i>
                </button>
            </div>
            <ul class="mdui-collapse-item-body mdui-list host">
                <disk v-for="disk_info in disk_data" v-bind:disk_info="disk_info" v-bind:host_id="host_id"></disk>
            </ul>
        </li>
    </ul>
</template>

<template id="disk-template">
    <li class="mdui-list-item disk">
        <i class="mdui-icon material-icons">&#xe53b;</i>
        <div class="mdui-list-item-content" style="margin-left: 5px">
            {{ disk_info.diskId }}
            <span style="margin-left: 10px;margin-right: 10px" class="tag-list">
                                <i v-if="disk_info.diskTagList.includes('DATA_DISK')"
                                   class="mdui-icon material-icons"
                                   mdui-tooltip="{content: 'Data'}">&#xe1af;</i>
                                <i v-if="!disk_info.diskTagList.includes('DATA_DISK')"
                                   class="mdui-icon material-icons" style="opacity: 0">&#xe54e;</i>

                                <i v-if="disk_info.diskTagList.includes('METADATA_DISK')"
                                   class="mdui-icon material-icons"
                                   mdui-tooltip="{content: 'Meta'}">&#xe54e;</i>
                                <i v-if="!disk_info.diskTagList.includes('METADATA_DISK')"
                                   class="mdui-icon material-icons"
                                   style="opacity: 0">&#xe54e;</i>

                                <i v-if="disk_info.diskTagList.includes('WRITE_CACHE')"
                                   class="mdui-icon material-icons"
                                   mdui-tooltip="{content: 'Write'}">&#xe3c9;</i>
                                <i v-if="!disk_info.diskTagList.includes('WRITE_CACHE')"
                                   class="mdui-icon material-icons"
                                   style="opacity: 0">&#xe3c9;</i>

                                <i v-if="disk_info.diskTagList.includes('READ_CACHE')"
                                   class="mdui-icon material-icons"
                                   mdui-tooltip="{content: 'Read Cache'}">&#xe417;</i>
                                <i v-if="!disk_info.diskTagList.includes('READ_CACHE')"
                                   class="mdui-icon material-icons"
                                   style="opacity: 0">&#xe417;</i>
                            </span>
            <i mdui-tooltip="{content: 'Serial Number'}">{{ disk_info.diskSerialNumber }}</i>
            <i style="margin-left: 10px" mdui-tooltip="{content: 'Node Name'}">{{ disk_info.deviceNodeName }}</i>
            <i style="margin-left: 10px" mdui-tooltip="{content: 'Downstream Device'}">{{ disk_info.downstreamDevice
                }}</i>
            <i style="margin-left: 10px"
               mdui-tooltip="{content: 'pciGroup UpstreamBus'}">{{ disk_info.pciGroupUpstreamBus }}</i>
        </div>
        <i v-bind:mdui-tooltip="'{content: \'state: ' + disk_info.state + '<br> physical State:'  + disk_info.physicalState + '<br> mount:' + disk_info.mountPoint +'\'}'"
           class="mdui-icon material-icons">&#xe88e;</i>

        <label class="mdui-checkbox">
            <input type="checkbox" v-bind:disk_tags="disk_info.diskTagList" v-bind:disk_id="disk_info.diskId"
                   v-bind:host_id="host_id" class="disk-checkbox"/>
            <i class="mdui-checkbox-icon"></i>
        </label>
    </li>
</template>

<template id="cluster-template-template">
    <li class="mdui-list-item">
        <div class="mdui-list-item-content">
            <div class="mdui-list-item-title mdui-list-item-one-line">{{ name }}</div>
            <div class="mdui-list-item-text mdui-list-item-three-line">
                <div v-for="content in info.split('\n')">
                    {{content}}
                </div>
            </div>
        </div>
        <label class="mdui-radio">
            <input v-bind:template-id="template_id" class="template-selector" type="radio" name="template-select"/>
            <i class="mdui-radio-icon"></i>
        </label>
    </li>
</template>

<template id="cluster-volume-template">
    <div class="mdui-table-fluid" style="margin-top: 15px">
        <table class="mdui-table mdui-table-selectable">
            <thead>
            <tr>
                <th>{{cluster_id}}</th>
                <th>volumeName</th>
                <th class="mdui-table-col-numeric">volumeSize</th>
                <th class="mdui-table-col-numeric">blockSize</th>
                <th>status</th>
                <th>accessLevel</th>
                <th>compressionAlgorithm</th>
                <th>iscsiTarget/iqn</th>
            </tr>
            </thead>
            <tbody v-for="volume_data in all_volume_data">
            <tr is="t-item" class="volume-line" v-bind:cluster-id="cluster_id">
                <td class="volume-id">{{volume_data.volumeId}}</td>
                <td>{{volume_data.volumeName}}</td>
                <td>{{volume_data.volumeSize}}</td>
                <td>{{volume_data.blockSize}}</td>
                <td>{{volume_data.status}}</td>
                <td>{{volume_data.accessLevel}}</td>
                <td>{{volume_data.compressionAlgorithm}}</td>
                <td>{{volume_data.iscsiTarget.iqn}}</td>
            </tr>
            </tbody>
        </table>

        <table class="mdui-table">
            <tbody>
            <tr>
                <td style="width: 200px;!important;padding: 0 0 0 20px;">
                    <label>
                        <input class="mdui-textfield-input create_volume_volume_name" type="text" placeholder="Volume Name"/>
                    </label>
                </td>
                <td style="width: 200px;!important;padding: 0 0 0 5px;">
                    <label>
                        <input class="mdui-textfield-input create_volume_volume_size" type="number" placeholder="Volume Size"/>
                    </label>
                </td>
                <td style="width: 200px;!important;padding: 0 0 0 5px;">
                    <label>
                        <input class="mdui-textfield-input create_volume_block_size" type="number" placeholder="Block Size"/>
                    </label>
                </td>
                <input type="hidden" class="create_volume_cluster_id" v-bind:value="cluster_id">
                <td style="width: 200px;!important;padding: 0 0 0 5px;">
                    <label>
                        <select class="mdui-select create_volume_volume_type">
                            <option value="NORMAL">NORMAl</option>
                            <option value="CSI">CSI</option>
                        </select>
                    </label>
                </td>
                <td style="float: right">
                    <button class="mdui-btn mdui-color-theme-accent create-volume">CREATE NEW</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<template id="initiator-template">
    <p>initiator info goes here</p>
</template>


<body class="mdui-theme-layout-dark mdui-theme-primary-amber mdui-theme-accent-orange">


<div class="mdui-dialog" id="select-template-dialog">
    <div class="mdui-dialog-content">
        <div class="mdui-dialog-title">Select a template</div>
        <ul class="mdui-list">
            <cluster-template v-for="template in templates"
                              v-bind:name="template.name"
                              v-bind:info="template.info"
                              v-bind:template_id="template.id"
            ></cluster-template>
        </ul>
    </div>
    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" id="apply-template" mdui-dialog-close>Apply</button>
    </div>
</div>

<div class="mdui-dialog" id="create-cluster-dialog">
    <div class="mdui-dialog-content">
        <div class="mdui-dialog-title">Create New Cluster With Selected Hosts</div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">Cluster Name (clusterName) </label>
            <input class="mdui-textfield-input" id="create-cluster-cluster-name" type="text" name="name"/>
        </div>

        <div class="mdui-textfield">
            <label class="mdui-textfield-label">Min Cluster Size (minClusterSize) </label>
            <input class="mdui-textfield-input" id="create-cluster-min-cluster-size" type="number" name="size"
                   value="3"/>
        </div>

        <div class="mdui-textfield">
            <label class="mdui-textfield-label">How many copies (replicationFactor) </label>
            <input class="mdui-textfield-input" id="create-cluster-replication-factor" type="number" name="copy"
                   value="3"/>
        </div>

        <div class="mdui-textfield">
            <label class="mdui-textfield-label">Virtual Ip (virtualIp) </label>
            <input class="mdui-textfield-input" id="create-cluster-virtual-ip" type="text" name="ip"
                   value="192.168.1.248"/>
        </div>
    </div>
    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" id="create-cluster" mdui-dialog-close>Create Cluster</button>
    </div>
</div>

<div class="mdui-toolbar mdui-color-theme">
    <span style="height: 100%">
        <img src="/logo.svg" style="height: 85%;margin-top: 7.5%">
    </span>
    <span class="mdui-typo-title"><b id="portal_ip"></b></span>
    <div class="mdui-toolbar-spacer"></div>
    <div>
        <button class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: 'Home'}" onclick="window.open('/')">
            <i class="mdui-icon material-icons">&#xe88a;</i>
        </button>
    </div>
</div>

<div class="mdui-tab mdui-color-theme" mdui-tab>
    <a href="#disk-management" class="">
        <i class="mdui-icon material-icons">&#xe53b;</i>
        <label>HOST & DISK</label>
    </a>
    <a href="#volume-management" class="">
        <i class="mdui-icon material-icons">&#xe1a5;</i>
        <label>Volume</label>
    </a>
    <a href="#initiator-management" class="">
        <i class="mdui-icon material-icons">&#xe851;</i>
        <label>Initiator</label>
    </a>
    <a href="#volume-access-group-management" class="">
        <i class="mdui-icon material-icons">&#xe7fb;</i>
        <label>Volume Access Group</label>
    </a>
</div>

<div id="disk-management" class="mdui-container-fluid">
    <div id="disk-list">
        <cluster v-for="cluster in data" v-bind:cluster_id="cluster.clusterId" v-bind:hosts="cluster.hosts"></cluster>
    </div>

    <div id="disk-actions">
        <div class="mdui-typo">
            <blockquote>
                <footer>
                    Disk Operation
                </footer>
            </blockquote>
        </div>

        <ul class="mdui-menu" id="add-tag-menu">

            <li class="mdui-menu-item">
                <a class="add_tag" tag="DATA_DISK" class="mdui-ripple"><i
                        class="mdui-icon material-icons mdui-menu-item-icon"
                        mdui-tooltip="{content: 'Data'}">&#xe1af;</i>DATA</a>
            </li>
            <li class="mdui-menu-item">
                <a class="add_tag" tag="METADATA_DISK" class="mdui-ripple"><i
                        class="mdui-icon material-icons mdui-menu-item-icon"
                        mdui-tooltip="{content: 'Data'}">&#xe54e;</i>META</a>
            </li>
            <li class="mdui-menu-item">
                <a class="add_tag" tag="WRITE_CACHE" id="add" class="mdui-ripple"><i
                        class="mdui-icon material-icons mdui-menu-item-icon"
                        mdui-tooltip="{content: 'Data'}">&#xe3c9;</i>WRITE</a>
            </li>
            <li class="mdui-menu-item">
                <a class="add_tag" tag="READ_CACHE" class="mdui-ripple"><i
                        class="mdui-icon material-icons mdui-menu-item-icon"
                        mdui-tooltip="{content: 'Data'}">&#xe417;</i>READ</a>
            </li>
            <li class="mdui-divider"></li>
            <li class="mdui-menu-item">
                <a id="add_tag_data_meta" class="mdui-ripple">
                    DATA + META
                </a>
            </li>
        </ul>

        <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple action disk-action" disabled
                mdui-menu="{target: '#add-tag-menu'}">Add Tag
        </button>

        <ul class="mdui-menu" id="remove-tag-menu">
            <li class="mdui-menu-item remove_tag" tag="DATA_DISK">
                <a class="mdui-ripple"><i class="mdui-icon material-icons mdui-menu-item-icon"
                                          mdui-tooltip="{content: 'Data'}">&#xe1af;</i>DATA</a>
            </li>
            <li class="mdui-menu-item remove_tag" tag="METADATA_DISK">
                <a class="mdui-ripple"><i class="mdui-icon material-icons mdui-menu-item-icon"
                                          mdui-tooltip="{content: 'Data'}">&#xe54e;</i>META</a>
            </li>
            <li class="mdui-menu-item remove_tag" tag="WRITE_CACHE">
                <a class="mdui-ripple"><i class="mdui-icon material-icons mdui-menu-item-icon"
                                          mdui-tooltip="{content: 'Data'}">&#xe3c9;</i>WRITE</a>
            </li>
            <li class="mdui-menu-item remove_tag" tag="READ_CACHE">
                <a class="mdui-ripple"><i class="mdui-icon material-icons mdui-menu-item-icon"
                                          mdui-tooltip="{content: 'Data'}">&#xe417;</i>READ</a>
            </li>
            <li class="mdui-divider"></li>
            <li class="mdui-menu-item">
                <a id="remove_tag_all" class="mdui-ripple">
                    ALL
                </a>
            </li>
        </ul>

        <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple action disk-action" disabled
                mdui-menu="{target: '#remove-tag-menu'}">Remove Tag
        </button>


        <div class="action" style="">
            <label class="mdui-checkbox">
                <input type="checkbox" id="ignoreUnqualifiedPairs"/>
                <i class="mdui-checkbox-icon"></i>
                Ignore Unqualified Disk/Tag Pair
            </label></br>
            <label class="mdui-checkbox">
                <input type="checkbox" id="traceUntilComplete" checked/>
                <i class="mdui-checkbox-icon"></i>
                Suspend Until Complete
            </label>
        </div>

        <div class="mdui-typo">
            <blockquote>
                <footer>
                    Host Operation
                </footer>
            </blockquote>
        </div>

        <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple action host-action"
                id="pop-create-cluster" mdui-dialog="{target: '#create-cluster-dialog'}" disabled>Create
            Cluster With Selected Host
        </button>
        <button class="mdui-btn mdui-btn-block mdui-color-red mdui-ripple action host-action" id="remove-from-cluster"
                disabled>REMOVE FROM CLUSTER
        </button>

        <div class="mdui-typo">
            <blockquote>
                <footer>
                    Cluster Operation
                </footer>
            </blockquote>
        </div>
        <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple action cluster-action"
                id="save-cluster-template" disabled>Save
            Cluster To Template
        </button>
        <button class="mdui-btn mdui-btn-block mdui-color-red mdui-ripple action cluster-action" id="delete-cluster"
                disabled>DELETE
        </button>
        <div class="mdui-typo">
            <blockquote>
                <footer>
                    Global Operation
                </footer>
            </blockquote>
        </div>
        <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple action"
                mdui-dialog="{target: '#select-template-dialog'}">Create Cluster From
            Template
        </button>
        <button class="mdui-btn mdui-btn-block mdui-color-red mdui-ripple action" id="purge">PURGE DB AND RECONFIG
        </button>
    </div>
</div>

<div id="volume-management" class="mdui-container-fluid">
    <cluster-volume v-for="(value, key) in volumes" v-bind:cluster_id="key"  v-bind:test="key" v-bind:all_volume_data="value"></cluster-volume>

    <div class="mdui-fab-wrapper" id="deleteFab">
        <button class="mdui-fab mdui-ripple mdui-color-theme-accent" id="delete-volume">
            <!-- 默认显示的图标 -->
            <i class="mdui-icon material-icons">delete</i>
        </button>
    </div>
</div>

<div id="initiator-management" class="mdui-container-fluid">
    <initiator></initiator>
</div>

<div id="volume-access-group-management" class="mdui-container-fluid">
    <div style="width: 100%; display: flex;!important; flex-direction: row;flex-wrap: wrap; align-items: flex-start; align-content: flex-start">
        <div class="mdui-card" style="width: 450px; margin: 10px;">
            <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
            <div class="mdui-card-media">

                <!-- 卡片中可以包含一个或多个菜单按钮 -->
                <div class="mdui-card-menu">
                    <button class="mdui-btn mdui-btn-icon mdui-text-color-white">
                        <i class="mdui-icon material-icons">delete</i>
                    </button>
                </div>
            </div>

            <!-- 卡片的标题和副标题 -->
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">group name</div>
                <div class="mdui-card-primary-subtitle">groupId:  1111-1111-1111-1111-11111111<br>clusterId: 1111-1111-1111-1111-11111111</div>
            </div>

            <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <ul class="mdui-list mdui-list-dense">
                    <li class="mdui-subheader-inset">Volumes</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name1111111111111111111</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name222222</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-subheader-inset">Initiator</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name3333333333333333333</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name44</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                </ul>
            </div>

            <!-- 卡片的按钮 -->
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-ripple">Add Volume</button>
                <button class="mdui-btn mdui-ripple">Add Initiator</button>
            </div>

        </div>

        <div class="mdui-card" style="width: 450px; margin: 10px;">
            <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
            <div class="mdui-card-media">

                <!-- 卡片中可以包含一个或多个菜单按钮 -->
                <div class="mdui-card-menu">
                    <button class="mdui-btn mdui-btn-icon mdui-text-color-white">
                        <i class="mdui-icon material-icons">delete</i>
                    </button>
                </div>
            </div>

            <!-- 卡片的标题和副标题 -->
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">group name</div>
                <div class="mdui-card-primary-subtitle">groupId:  1111-1111-1111-1111-11111111<br>clusterId: 1111-1111-1111-1111-11111111</div>
            </div>

            <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <ul class="mdui-list mdui-list-dense">
                    <li class="mdui-subheader-inset">Volumes</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name1111111111111111111</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name222222</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-subheader-inset">Initiator</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name3333333333333333333</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name44</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name3333333333333333333</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name44</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name3333333333333333333</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name44</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name3333333333333333333</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name44</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>

                </ul>
            </div>

            <!-- 卡片的按钮 -->
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-ripple">Add Volume</button>
                <button class="mdui-btn mdui-ripple">Add Initiator</button>
            </div>

        </div>

        <div class="mdui-card" style="width: 450px; margin: 10px;">
            <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
            <div class="mdui-card-media">

                <!-- 卡片中可以包含一个或多个菜单按钮 -->
                <div class="mdui-card-menu">
                    <button class="mdui-btn mdui-btn-icon mdui-text-color-white">
                        <i class="mdui-icon material-icons">delete</i>
                    </button>
                </div>
            </div>

            <!-- 卡片的标题和副标题 -->
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">group name</div>
                <div class="mdui-card-primary-subtitle">groupId:  1111-1111-1111-1111-11111111<br>clusterId: 1111-1111-1111-1111-11111111</div>
            </div>

            <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <ul class="mdui-list mdui-list-dense">
                    <li class="mdui-subheader-inset">Volumes</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name1111111111111111111</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name222222</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-subheader-inset">Initiator</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name3333333333333333333</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name44</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                </ul>
            </div>

            <!-- 卡片的按钮 -->
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-ripple">Add Volume</button>
                <button class="mdui-btn mdui-ripple">Add Initiator</button>
            </div>

        </div>

        <div class="mdui-card" style="width: 450px; margin: 10px;">
            <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
            <div class="mdui-card-media">

                <!-- 卡片中可以包含一个或多个菜单按钮 -->
                <div class="mdui-card-menu">
                    <button class="mdui-btn mdui-btn-icon mdui-text-color-white">
                        <i class="mdui-icon material-icons">delete</i>
                    </button>
                </div>
            </div>

            <!-- 卡片的标题和副标题 -->
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">group name</div>
                <div class="mdui-card-primary-subtitle">groupId:  1111-1111-1111-1111-11111111<br>clusterId: 1111-1111-1111-1111-11111111</div>
            </div>

            <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <ul class="mdui-list mdui-list-dense">
                    <li class="mdui-subheader-inset">Volumes</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name1111111111111111111</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name222222</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-subheader-inset">Initiator</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name3333333333333333333</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name44</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                </ul>
            </div>

            <!-- 卡片的按钮 -->
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-ripple">Add Volume</button>
                <button class="mdui-btn mdui-ripple">Add Initiator</button>
            </div>

        </div>

        <div class="mdui-card" style="width: 450px; margin: 10px;">
            <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
            <div class="mdui-card-media">

                <!-- 卡片中可以包含一个或多个菜单按钮 -->
                <div class="mdui-card-menu">
                    <button class="mdui-btn mdui-btn-icon mdui-text-color-white">
                        <i class="mdui-icon material-icons">delete</i>
                    </button>
                </div>
            </div>

            <!-- 卡片的标题和副标题 -->
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">group name</div>
                <div class="mdui-card-primary-subtitle">groupId:  1111-1111-1111-1111-11111111<br>clusterId: 1111-1111-1111-1111-11111111</div>
            </div>

            <!-- 卡片的内容 -->
            <div class="mdui-card-content">
                <ul class="mdui-list mdui-list-dense">
                    <li class="mdui-subheader-inset">Volumes</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name1111111111111111111</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name222222</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-subheader-inset">Initiator</li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name3333333333333333333</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">Name44</div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">delete</i>
                    </li>
                </ul>
            </div>

            <!-- 卡片的按钮 -->
            <div class="mdui-card-actions">
                <button class="mdui-btn mdui-ripple">Add Volume</button>
                <button class="mdui-btn mdui-ripple">Add Initiator</button>
            </div>

        </div>

    </div>
</div>

</body>
</html>